@charset "UTF-8";
/*
  HTML5 Reset :: reset.css
  -------------------------------------------------------------------
  Подготовлен командой LiveHTML | by LiveHTML :: http://livehtml.ru
  -------------------------------------------------------------------
  Выражаем особую благодарность людям, чьи труды способствовали появлению данного ресета:
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://ericmeyer.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

header, section, footer {
  clear: both; }

/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы)
   force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки
  we can use default ULs & OLs with bullets */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px; }

ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

/* Сбрасываем отступы у элементов форм
  Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
  outline: none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input, select {
  vertical-align: middle; }

input[type=radio], input[type=checkbox] {
  margin: 1px 4px 4px 0; }

input[type=text], input[type=password] {
  border-radius: 0;
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none; }

/* Решение проблемы с обрезанием стилизованных кнопок в IE | make buttons play nice in IE */
button, input[type=submit] {
  width: auto;
  overflow: visible; }

.ie7 input[type=submit], .ie7 input[type=reset], .ie7 input[type=button] {
  filter: chroma(color=#000000); }

/* Курсор-указатель на кликабельных элементах | hand cursor on clickable elements */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0; }

/* Стандартизируем моноширные элементы | standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* Устанавливаем произвольный цвет для выделения (не забываем убрать тень для текста)
  Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/* ::-moz-selection{ background:#fcd700; color:#fff; text-shadow:none; } */
/* ::selection { background:#fcd700; color:#fff; text-shadow:none; } */
/* Устанавливаем произвольный цвет подсветки ссылок на Apple устройствах: j.mp/webkit-tap-highlight-color */
/* a:link {-webkit-tap-highlight-color:#fcd700;} */
/* Правильный ресайз картинок в IE7
  scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* Сброс float блоков | let's clear some floats */
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/* Coded in LiveHTML :: http://livehtml.ru */
@font-face {
  font-family: 'icons-elf-money';
  src: url("../fonts/icons-elf-money.eot");
  src: url("../fonts/icons-elf-money.eot?#iefix") format("embedded-opentype"), url("../fonts/icons-elf-money.woff") format("woff"), url("../fonts/icons-elf-money.ttf") format("truetype"), url("../fonts/icons-elf-money.svg#icons-elf-money") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon {
  position: relative;
  display: inline-block; }

.icon-close19x19 {
  background-image: url(sprite.png);
  background-position: -62px -13px;
  width: 19px;
  height: 19px; }

.icon-search16x16 {
  background-image: url(sprite.png);
  background-position: -48px -68px;
  width: 16px;
  height: 16px; }

.icon-shop15x12 {
  background-image: url(sprite.png);
  background-position: -53px -54px;
  width: 15px;
  height: 12px; }

.icon-vk50x13 {
  background-image: url(sprite.png);
  background-position: -37px 0px;
  width: 50px;
  height: 13px; }

.icon-steam16x16 {
  background-image: url(sprite.png);
  background-position: -16px -68px;
  width: 16px;
  height: 16px; }

.btn {
  display: inline-block;
  padding: 6px 12px 5px;
  margin-bottom: 0;
  font: bold 12px/1 "Tahoma", Helmet, Freesans, sans-serif;
  text-decoration: none;
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-bottom: 2px solid;
  letter-spacing: -0.02em;
  text-transform: uppercase; }

.btn-default {
  background: -moz-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #dadada 100%);
  border-color: #aaa; }

.btn-orange {
  background: -moz-linear-gradient(top, #ffca30 0%, #ffa303 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffca30), color-stop(100%, #ffa303));
  background: -webkit-linear-gradient(top, #ffca30 0%, #ffa303 100%);
  background: -o-linear-gradient(top, #ffca30 0%, #ffa303 100%);
  background: -ms-linear-gradient(top, #ffca30 0%, #ffa303 100%);
  background: linear-gradient(to bottom, #ffca30 0%, #ffa303 100%);
  border-color: #b57302; }

body {
  font: normal 12px/16px "Verdana", "Tahoma", Helmet, Freesans, sans-serif;
  color: #000;
  min-width: 990px;
  margin-right: auto;
  margin-left: auto; }

.wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  min-width: 990px;
  overflow: hidden;
  background: #f4f4f4 url("../img/bg.jpg") no-repeat center top; }

b {
  font-weight: bold; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.list-unstyled {
  margin: 0;
  list-style: none; }

.text-danger {
  color: #b11515; }

.we-accept {
  padding-bottom: 19px;
  background-color: #f4f4f4; }
  .we-accept img {
    position: relative;
    left: -10px; }

.alert {
  font: normal 11px/16px "Tahoma", Helmet, Freesans, sans-serif;
  background-color: #f9f3b6;
  border: 1px solid #f9f3b6; }
  .alert .text-danger {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 700; }

.alert__wrap {
  border-top: 1px dotted #aeaa7f;
  border-bottom: 1px dotted #aeaa7f; }
  .alert__wrap .container {
    position: relative; }
    .alert__wrap .container p {
      padding: 20px 35px 19px 20px; }
  .alert__wrap .close {
    cursor: pointer;
    background-image: url(sprite.png);
    background-position: -62px -13px;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 19px;
    right: 8px; }

.logo {
  margin-top: 46px; }

.head {
  margin-top: 30px; }

.head__top {
  position: relative;
  padding: 27px 0 15px 418px;
  background-color: #fff; }

.head__logo {
  position: absolute;
  top: 33px;
  left: 25px;
  width: 291px;
  height: 64px; }

.head__data {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.head__data_contacts {
  width: 273px;
  float: left; }
  .head__data_contacts:before {
    content: '';
    display: block;
    width: 46px;
    height: 92px;
    top: -12px;
    bottom: -5px;
    -moz-transform: skewX(-26deg);
    -ms-transform: skewX(-26deg);
    -webkit-transform: skewX(-26deg);
    -o-transform: skewX(-26deg);
    transform: skewX(-26deg);
    background: #ccc;
    position: absolute;
    left: -80px;
    opacity: 0.2; }
  .head__data_contacts:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 13px;
    right: 0;
    width: 1px;
    height: 51px;
    border-right: 1px dotted #000; }

.head__consultant-link {
  display: inline-block;
  position: relative;
  color: #010101;
  font-size: 11px;
  line-height: 14px;
  border-bottom: 1px dotted #010101;
  text-decoration: none;
  margin-left: 29px;
  margin-bottom: 6px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  font-family: 'Trebuchet MS', 'Tahoma', Helmet, Freesans, sans-serif; }
  .head__consultant-link:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -29px;
    border-radius: 3px;
    background-image: url(sprite.png);
    background-position: -37px -13px;
    width: 25px;
    height: 25px; }

.head__phone {
  display: block;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
  white-space: nowrap;
  margin-bottom: 5px;
  padding-left: 3px; }

.head__work-time {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  position: relative;
  font-size: 10px;
  line-height: 11px;
  font-family: 'Trebuchet MS', 'Tahoma', Helmet, Freesans, sans-serif;
  margin-top: 7px; }
  .head__work-time:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    display: block;
    background-image: url(sprite.png);
    background-position: -68px -54px;
    width: 12px;
    height: 12px; }
  .head__work-time span {
    display: block;
    color: #858585; }

.head__data_info {
  width: 210px;
  float: left;
  padding-left: 19px; }

.head-info {
  display: block;
  padding-left: 51px;
  position: relative;
  margin-bottom: 6px;
  margin-top: -2px;
  cursor: default; }
  .head-info:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    width: 42px;
    height: 38px; }

.head-info_review:before {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 31px; }

.head-info_guarantee:before {
  background-image: url(sprite.png);
  background-position: 0px -31px;
  width: 28px;
  height: 37px;
  left: 10px;
  top: -2px; }

.head-info__counter {
  margin-left: 2px;
  display: inline-block;
  font: 14px/20px "Tahoma", Helmet, Freesans, sans-serif;
  line-height: 20px;
  color: #000; }
  .head-info__counter span {
    font-size: 13px;
    font-weight: bold; }

.head-info__comment {
  display: block;
  font: normal 10px/13px "Tahoma", Helmet, Freesans, sans-serif;
  text-decoration: none;
  color: #7d7d7d;
  letter-spacing: 0.02em; }

.head-info__link {
  display: inline-block;
  font: 16px/20px "Tahoma", Helmet, Freesans, sans-serif;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #000;
  letter-spacing: 0.025em; }

.menu-box {
  padding-right: 410px;
  position: relative;
  height: 60px;
  width: 940; }
  .menu-box nav {
    position: absolute;
    left: 0;
    width: 530px;
    background-color: rgba(255, 255, 255, 0.95); }

.menu__item {
  float: left; }
  .menu__item:last-child {
    padding-right: 18px; }

.menu__link {
  padding: 23px 24px 20px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font: 12px/1 'Tahoma', Helmet, Freesans, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 5px solid transparent; }
  .menu__link:hover {
    background-color: #fff;
    border-bottom-color: #ffcc06; }

.active .menu__link {
  padding: 23px 28px 20px;
  background-color: #fff;
  border-bottom-color: #ffcc06;
  font-weight: bold; }

.user-menu {
  padding: 12px 18px 14px 35px;
  position: absolute;
  top: 0;
  right: 0;
  width: 357px;
  background-color: #fff; }

.user-menu__link {
  padding-left: 21px;
  margin-bottom: 6px;
  position: relative;
  font: bold 12px/1 "Tahoma", Helmet, Freesans, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #000; }
  .user-menu__link span {
    border-bottom: 1px solid #000; }
  .user-menu__link:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(sprite.png);
    background-position: -87px 0px;
    width: 10px;
    height: 12px; }

.user-menu__email {
  margin-right: 3px;
  font: 13px/1 'Tahoma', Helmet, Freesans, sans-serif; }

.user-menu__logout {
  color: #dd0000;
  font: 10px/1 'Tahoma', Helmet, Freesans, sans-serif; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.main-slider {
  width: 100%;
  height: 209px;
  background: url("../img/slider-bg.jpg") no-repeat center; }
  .main-slider .slick-dots {
    margin: 0;
    width: 95px;
    position: absolute;
    bottom: -1px;
    left: 0;
    text-align: right; }
    .main-slider .slick-dots li {
      margin-left: 10px; }

.main-slider__item {
  position: relative;
  width: 100%;
  height: 209px; }
  .main-slider__item > img {
    position: absolute;
    top: 77px;
    left: 32px; }

.main-slider__item-info {
  padding: 12px 20px 18px 28px;
  margin-top: 39px;
  float: right;
  width: 459px;
  background: -moz-linear-gradient(left, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(25%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(left, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(left, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(left, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to right, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.1) 100%); }
  .main-slider__item-info .status {
    margin-bottom: -2px;
    color: #ffd807;
    text-transform: uppercase;
    font: bold 17px/1 "Tahoma", Helmet, Freesans, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }
  .main-slider__item-info .name {
    text-transform: uppercase;
    font: bold 28px/1 "Tahoma", Helmet, Freesans, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: #fff;
    letter-spacing: 0.003em; }
  .main-slider__item-info .data {
    margin-bottom: 17px;
    font: normal 10px/1 "Tahoma", Helmet, Freesans, sans-serif;
    color: #fff;
    opacity: .8;
    letter-spacing: 0.025em; }
  .main-slider__item-info .price {
    position: relative;
    left: -1px; }
  .main-slider__item-info .price__sum {
    float: left;
    font: bold 30px/1 "Tahoma", Helmet, Freesans, sans-serif;
    color: #fff; }
  .main-slider__item-info .price__sum-discount {
    display: block;
    font: normal 10px/1 "Tahoma", Helmet, Freesans, sans-serif;
    color: #fff;
    opacity: .8;
    text-decoration: line-through; }
  .main-slider__item-info .btn {
    padding: 6px 27px 5px 23px;
    margin-top: 4px;
    margin-left: 11px;
    float: left; }
    .main-slider__item-info .btn .icon-shop15x12 {
      margin-right: 8px;
      top: 0px; }

.main-slider__desc {
  padding-left: 104px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 23px;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.slick-dots li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top; }

.slick-dots button {
  padding: 0;
  border: 1px solid transparent;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  text-indent: -9999px; }

.slick-dots .slick-active button {
  background-color: #fff;
  border-color: #fff; }

.main {
  background-color: #fff; }

.main__content {
  float: left;
  width: 720px; }
  .main__content .more-link {
    margin-bottom: 33px;
    position: relative;
    top: -10px; }
    .main__content .more-link .btn {
      padding: 13px 0 11px;
      position: relative;
      left: -20px;
      z-index: 10;
      width: 200px;
      font: normal 14px/14px "Verdana", "Tahoma", Helmet, Freesans, sans-serif;
      letter-spacing: 0;
      box-shadow: 0 2px 4px 0px #d9d9d9; }
    .main__content .more-link .arrow-box {
      position: relative; }
      .main__content .more-link .arrow-box:after {
        content: '';
        position: absolute;
        bottom: -19px;
        left: 50%;
        margin-left: -29px;
        width: 18px;
        height: 18px;
        background-color: #ffa605;
        border: 1px solid #b57806;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 2px 2px 4px 0px #d9d9d9; }
      .main__content .more-link .arrow-box:before {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        margin-left: -28px;
        width: 18px;
        height: 18px;
        background-color: #ffa605;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 11; }

.game-list {
  margin-left: -40px; }

.game-list__item {
  margin-left: 40px;
  margin-bottom: 40px;
  float: left;
  position: relative;
  width: 200px;
  height: 280px; }

.game-list__item-desc {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .game-list__item-desc .status {
    padding-right: 25px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font: 11px/20px "Tahoma", Helmet, Freesans, sans-serif;
    padding-left: 13px;
    background-color: rgba(255, 255, 255, 0.8); }
    .game-list__item-desc .status:before {
      content: '';
      position: absolute;
      top: 4px;
      right: 7px;
      display: block;
      background-image: url(sprite.png);
      background-position: -68px -54px;
      width: 12px;
      height: 12px; }
  .game-list__item-desc .price {
    padding: 12px 13px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff; }
  .game-list__item-desc .name {
    position: relative;
    top: -3px;
    font: 12px/1 'Tahoma', Helmet, Freesans, sans-serif; }
  .game-list__item-desc .sum {
    font: 26px/1 'Tahoma', Helmet, Freesans, sans-serif; }

.main-product {
  padding-top: 31px; }

.search {
  padding: 21px 40px 19px 20px; }
  .search .icon-search16x16 {
    position: absolute;
    top: 12px;
    left: 15px; }
  .search input {
    margin-left: 43px;
    float: left;
    width: 670px;
    border: none;
    outline: none;
    font: 18px/37px "Tahoma", Helmet, Freesans, sans-serif;
    letter-spacing: -0.01em; }
  .search ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .search ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .search :-moz-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .search :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .search .btn {
    float: right;
    margin-top: 2px;
    margin-right: 3px;
    padding: 10px 54px 8px;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.7); }

.search__box {
  position: relative;
  border: 1px solid #e5e5e5; }

.sidebar {
  float: left;
  width: 220px; }
  .sidebar .vk-box {
    margin-left: 1px; }

.sidebar__nav {
  margin-bottom: 25px; }
  .sidebar__nav li {
    margin-bottom: 4px; }
  .sidebar__nav a {
    padding: 10px 20px 10px;
    position: relative;
    display: block;
    width: 181px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #fff;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.035em; }
  .sidebar__nav .active a,
  .sidebar__nav a:hover {
    color: #ffcc06; }
    .sidebar__nav .active a:after,
    .sidebar__nav a:hover:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      background-color: #ffcc06; }
  .sidebar__nav .action a {
    background: url("../img/action-bg.jpg") no-repeat center; }
  .sidebar__nav.gray {
    margin-bottom: 30px; }
    .sidebar__nav.gray li {
      margin-bottom: 5px; }
    .sidebar__nav.gray a,
    .sidebar__nav.gray .action a {
      padding: 12px 20px 12px;
      background-color: #f4f4f4;
      color: rgba(0, 0, 0, 0.5);
      background-image: none; }

.sidebar__filter {
  padding-right: 59px;
  margin-bottom: 45px; }

.sidebar__filter-item {
  margin-bottom: 41px; }
  .sidebar__filter-item li {
    margin-bottom: 7px; }
  .sidebar__filter-item.category li {
    margin-bottom: 8px; }
  .sidebar__filter-item.category li.title,
  .sidebar__filter-item .title {
    margin-bottom: 16px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.025em; }
  .sidebar__filter-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.04em; }
    .sidebar__filter-item a.sidebar__filter-item-category {
      padding-right: 25px;
      position: relative;
      display: inline-block;
      font-size: 11px; }
      .sidebar__filter-item a.sidebar__filter-item-category:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 3px;
        display: inline-block;
        opacity: 0.5; }
      .sidebar__filter-item a.sidebar__filter-item-category.steam:after {
        background-image: url(sprite.png);
        background-position: -16px -68px;
        width: 16px;
        height: 16px; }
      .sidebar__filter-item a.sidebar__filter-item-category.origin:after {
        background-image: url(sprite.png);
        background-position: -64px -68px;
        width: 16px;
        height: 16px; }
      .sidebar__filter-item a.sidebar__filter-item-category.playstation:after {
        background-image: url(sprite.png);
        background-position: -32px -68px;
        width: 16px;
        height: 16px; }
      .sidebar__filter-item a.sidebar__filter-item-category.battle:after {
        background-image: url(sprite.png);
        background-position: -37px -38px;
        width: 16px;
        height: 16px; }
      .sidebar__filter-item a.sidebar__filter-item-category.xbox:after {
        background-image: url(sprite.png);
        background-position: -69px -38px;
        width: 16px;
        height: 16px; }
      .sidebar__filter-item a.sidebar__filter-item-category:hover:after {
        opacity: 1; }

.main-footer {
  padding-bottom: 18px;
  padding-top: 23px;
  position: relative;
  background: #2c2c2c url("../img/footer-bg.png") no-repeat center; }
  .main-footer:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: url("../img/footer-wave.png") repeat-x; }

.footer-nav li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top; }
  .footer-nav li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font: 12px/1.4 'Tahoma', Helmet, Freesans, sans-serif; }
    .footer-nav li a:hover {
      color: #ffcc06;
      border-bottom-color: #ffcc06; }
  .footer-nav li.active a {
    font-weight: bold;
    color: #ffcc06;
    border-bottom-color: transparent; }

.footer__phone {
  margin-top: 33px;
  margin-bottom: 9px;
  color: #fff;
  font: bold 24px/1 "Tahoma", Helmet, Freesans, sans-serif; }

.footer__email a {
  font-size: 21px;
  color: #fff;
  letter-spacing: -0.01em; }

.footer__vk {
  margin-top: 11px;
  margin-bottom: 26px; }
  .footer__vk a {
    color: rgba(255, 255, 255, 0.5);
    font: 13px/1 'Tahoma', Helmet, Freesans, sans-serif; }
    .footer__vk a .icon {
      margin-right: 9px;
      top: 3px; }

.footer__note {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.2);
  font: 11px/15px "Tahoma", Helmet, Freesans, sans-serif;
  width: 465px; }

.footer__copyright {
  margin-top: 11px;
  font-size: 10px;
  font-weight: bold;
  color: #fff; }

.reviews {
  padding-top: 34px;
  padding-left: 20px;
  padding-bottom: 28px;
  position: relative;
  background-color: #f4f4f4; }
  .reviews:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: url("../img/white-wave.png") repeat-x; }

.reviews__item {
  padding-right: 25px;
  margin-right: 39px;
  padding-top: 4px;
  float: left;
  width: 255px;
  height: 96px;
  border-right: 1px dotted #c3c3c3; }
  .reviews__item:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none; }

.reviews__item-data {
  margin-bottom: 9px;
  padding-right: 17px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font: bold 10px/1 "Tahoma", Helmet, Freesans, sans-serif; }
  .reviews__item-data:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    background-image: url(sprite.png);
    background-position: -87px -12px;
    width: 10px;
    height: 9px; }

.reviews__item-text {
  font: normal 12px/24px "Tahoma", Helmet, Freesans, sans-serif; }

.product__head-info {
  float: left;
  width: 440px; }

.product__title {
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: -2px;
  letter-spacing: 0.03em; }
  .product__title + .product__breadcrumbs {
    margin-top: -2px;
    margin-bottom: 22px; }

.product__breadcrumbs-link {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  line-height: 14px;
  color: #a3a3a3;
  margin-right: 4px; }
  .product__breadcrumbs-link:before {
    content: '\e807';
    font-family: 'icons-elf-money';
    margin-right: 2px;
    color: #ccc;
    font-size: 14px;
    vertical-align: middle; }
  .product__breadcrumbs-link:first-child:before {
    display: none; }

.product__cover {
  margin-bottom: 24px; }

.product__desc {
  margin-bottom: 32px; }
  .product__desc h4 {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
  .product__desc p {
    font: 12px/20px "Tahoma", Helmet, Freesans, sans-serif;
    width: 89%; }

.product__desc-toggle {
  margin-bottom: 9px; }

.product__desc-toggle-link {
  padding-left: 17px;
  position: relative;
  cursor: pointer; }
  .product__desc-toggle-link .border {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #7f7f7f;
    letter-spacing: 0.07em; }
  .product__desc-toggle-link .plus-box {
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid #808080;
    display: inline-block;
    width: 7px;
    height: 7px; }
    .product__desc-toggle-link .plus-box:after {
      content: '+';
      position: absolute;
      top: -1px;
      left: 0px;
      font: bold 8px/1 "Verdana", "Tahoma", Helmet, Freesans, sans-serif; }

.product__desc-toggle-cont {
  display: none;
  font: 12px/20px "Tahoma", Helmet, Freesans, sans-serif;
  width: 89%; }

.product__media {
  margin-top: 31px;
  margin-bottom: 20px; }

.product__media-img {
  margin-left: -10px; }
  .product__media-img img {
    margin-bottom: 10px;
    margin-left: 10px;
    float: left; }

.product__sidebar-info {
  margin-top: 59px;
  margin-right: 40px;
  float: right;
  width: 201px; }

.product__card {
  position: relative;
  width: 201px; }
  .product__card img {
    position: absolute;
    top: 0;
    left: 0; }

.product__card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 23%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.64)), color-stop(23%, rgba(0, 0, 0, 0.64)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 23%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 23%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 23%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 23%, black 100%); }

.product__card-info {
  margin-bottom: 32px;
  position: relative;
  padding: 19px;
  z-index: 1; }
  .product__card-info h5 {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1;
    color: #ffc92f;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
  .product__card-info .card-info__item {
    margin-bottom: 2px;
    font-size: 10px;
    color: #adadad;
    text-transform: uppercase; }
    .product__card-info .card-info__item .label {
      font-weight: bold;
      color: #fff; }
  .product__card-info .card-info__item-steam {
    padding-right: 24px;
    position: relative; }
    .product__card-info .card-info__item-steam:after {
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      background-image: url(sprite.png);
      background-position: -16px -68px;
      width: 16px;
      height: 16px; }
  .product__card-info .btn {
    padding: 12px 12px;
    width: 137px;
    font: normal 14px/1 "Verdana", "Tahoma", Helmet, Freesans, sans-serif;
    letter-spacing: 0.01em; }

.card-info__price {
  margin-bottom: 24px;
  margin-top: 11px;
  position: relative;
  left: -1px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1; }
  .card-info__price:after {
    content: '\e802';
    font-weight: normal;
    font-family: 'icons-elf-money';
    font-size: 37px;
    margin-left: 9px; }

.advantages-list {
  display: block;
  margin-bottom: 47px; }

.advantages-list__item {
  padding-left: 22px;
  padding-right: 20px;
  margin-bottom: 18px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.advantages-list__title {
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold; }

.advantages-list__text {
  line-height: 13px;
  font-size: 10px;
  margin-bottom: 10px; }

.advantages-list__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -6px;
  background-image: url(sprite.png);
  background-position: 0px -68px;
  width: 16px;
  height: 16px; }

.advantages-list__item_safely:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -6px;
  background-image: url(sprite.png);
  background-position: -53px -38px;
  width: 16px;
  height: 16px; }

.advantages-list__item_guarantee:before {
  content: '';
  position: absolute;
  display: block;
  top: 2px;
  left: -6px;
  background-image: url(sprite.png);
  background-position: -37px -54px;
  width: 16px;
  height: 13px; }

.similar__title {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em; }

.similar .game-list__item {
  margin-left: 0;
  margin-bottom: 20px; }

.similar .more-link {
  margin-top: 10px;
  float: left; }
  .similar .more-link .btn {
    left: 0; }

.similar .arrow-box:before {
  margin-left: -8px !important; }

.similar .arrow-box:after {
  margin-left: -8px !important; }

.game-list-product {
  padding-left: 38px;
  margin-left: -20px; }
  .game-list-product .game-list__item {
    margin-bottom: 34px;
    margin-left: 20px; }
