.alert {
  font: normal 11px/16px 'Tahoma', Helmet, Freesans, sans-serif;
  background-color: #f9f3b6;
  border: 1px solid #f9f3b6;

  .text-danger {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 700;
  }
}

.alert__wrap {
  border-top: 1px dotted #aeaa7f;
  border-bottom: 1px dotted #aeaa7f;

  .container {
    position: relative;

    p {
      padding: 20px 35px 19px 20px;
    }
  }

  .close {
    cursor: pointer;
    @include sprite($icon-close19x19);
    position: absolute;
    top: 19px;
    right: 8px;
  }
}