body {
  font: normal 12px/16px 'Verdana', 'Tahoma', Helmet, Freesans, sans-serif;
  color: $textColor;
  min-width: 990px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  min-width: 990px;
  overflow: hidden;
  background: #f4f4f4 url('../img/bg.jpg') no-repeat center top;
}

b {
  font-weight: bold;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

//.border-link {
//  text-decoration: none;
//  border-bottom: 1px solid rgba(0,0,0,0.4);
//  color: $textColor;
//
//  &:hover {
//    color: $brandSuccess;
//    border-color: rgba(94, 187, 75, 0.4);
//  }
//}
//
//.success-link {
//  color: $brandSuccess;
//  border-color: rgba(94, 187, 75, 0.4);
//
//  &:hover {
//    border-color: rgba(94, 187, 75, 0);
//  }
//}
//
//.section-title {
//  margin-bottom: 20px;
//  position: relative;
//  font-size: 24px;
//
//  a {
//    font-weight: 400;
//    display: inline-block;
//    vertical-align: middle;
//    text-decoration: none;
//    color: $brandSuccess;
//    border-bottom: 1px solid #e0e0e0;
//    letter-spacing: 0.02em;
//    line-height: 1.2;
//
//    &:hover {
//      border-bottom: none;
//      margin-bottom: 1px;
//    }
//  }
//
//  &.line-title:after {
//    content: '';
//    position: absolute;
//    left: 0;
//    top: 50%;
//    margin-top: 3px;
//    width: 100%;
//    height: 1px;
//    background-color: #e1e1e1;
//  }
//
//  span.line {
//    display: inline-block;
//    vertical-align: middle;
//    position: relative;
//    padding-left: 19px;
//    padding-right: 19px;
//    background-color: #fff;
//    z-index: 10;
//  }
//}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.list-unstyled {
  margin: 0;
  list-style: none;
}

.text-danger {
  color: $brandDanger;
}

.we-accept {
  padding-bottom: 19px;
  background-color: #f4f4f4;

  img {
    position: relative;
    left: -10px;
  }
}
