.btn {
  display: inline-block;
  padding: 6px 12px 5px;
  margin-bottom: 0;
  font: bold 12px/1 'Tahoma', Helmet, Freesans, sans-serif;
  text-decoration: none;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-bottom: 2px solid;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.btn-default {
  background: -moz-linear-gradient(top,  #f0f0f0 0%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#dadada));
  background: -webkit-linear-gradient(top,  #f0f0f0 0%,#dadada 100%);
  background: -o-linear-gradient(top,  #f0f0f0 0%,#dadada 100%);
  background: -ms-linear-gradient(top,  #f0f0f0 0%,#dadada 100%);
  background: linear-gradient(to bottom,  #f0f0f0 0%,#dadada 100%);
  border-color: #aaa;
}

.btn-orange {
  background: -moz-linear-gradient(top,  #ffca30 0%, #ffa303 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca30), color-stop(100%,#ffa303));
  background: -webkit-linear-gradient(top,  #ffca30 0%,#ffa303 100%);
  background: -o-linear-gradient(top, #ffca30 0%,#ffa303 100%);
  background: -ms-linear-gradient(top,  #ffca30 0%,#ffa303 100%);
  background: linear-gradient(to bottom,  #ffca30 0%,#ffa303 100%);
  border-color: #b57302;
}