@font-face {
  font-family: 'icons-elf-money';
  src: url('../fonts/icons-elf-money.eot');
  src: url('../fonts/icons-elf-money.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icons-elf-money.woff') format('woff'),
  url('../fonts/icons-elf-money.ttf') format('truetype'),
  url('../fonts/icons-elf-money.svg#icons-elf-money') format('svg');
  font-weight: normal;
  font-style: normal;
}