.main-footer {
  padding-bottom: 18px;
  padding-top: 23px;
  position: relative;
  background: #2c2c2c url('../img/footer-bg.png') no-repeat center;

  &:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: url('../img/footer-wave.png') repeat-x;
  }
}

.footer-nav li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;

  a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font: 12px/1.4 'Tahoma', Helmet, Freesans, sans-serif;

    &:hover {
      color: #ffcc06;
      border-bottom-color: #ffcc06;
    }
  }

  &.active a {
    font-weight: bold;
    color: #ffcc06;
    border-bottom-color: rgba(0,0,0,0);
  }
}

.footer__phone {
  margin-top: 33px;
  margin-bottom: 9px;
  color: #fff;
  font: bold 24px/1 'Tahoma', Helmet, Freesans, sans-serif;
}

.footer__email a{
  font-size: 21px;
  color: #fff;
  letter-spacing: -0.01em;
}

.footer__vk {
  margin-top: 11px;
  margin-bottom: 26px;

  a {
    color: rgba(255,255,255,0.5);
    font: 13px/1 'Tahoma', Helmet, Freesans, sans-serif;

    .icon {
      margin-right: 9px;
      top: 3px;
    }
  }
}

.footer__note {
  margin: 0 auto;
  color: rgba(255,255,255,0.2);
  font: 11px/15px 'Tahoma', Helmet, Freesans, sans-serif;
  width: 465px;
}

.footer__copyright {
  margin-top: 11px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}