.logo {
  margin-top: 46px;
}

.head {
  margin-top: 30px;
}

.head__top {
  position: relative;
  padding: 27px 0 15px 418px;
  background-color: #fff;
}

.head__logo {
  position: absolute;
  top: 33px;
  left: 25px;
  width: 291px;
  height: 64px;
}

.head__data {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.head__data_contacts {
  width: 273px;
  float: left;

  &:before {
    content: '';
    display: block;
    width: 46px;
    height: 92px;
    top: -12px;
    bottom: -5px;
    -moz-transform: skewX(-26deg);
    -ms-transform: skewX(-26deg);
    -webkit-transform: skewX(-26deg);
    -o-transform: skewX(-26deg);
    transform: skewX(-26deg);
    background: #ccc;
    position: absolute;
    left: -80px;
    opacity: 0.2;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 13px;
    right: 0;
    width: 1px;
    height: 51px;
    border-right: 1px dotted $textColor;
  }
}

.head__consultant-link {
  display: inline-block;
  position: relative;
  color: #010101;
  font-size: 11px;
  line-height: 14px;
  border-bottom: 1px dotted #010101;
  text-decoration: none;
  margin-left: 29px;
  margin-bottom: 6px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  font-family: 'Trebuchet MS', 'Tahoma', Helmet, Freesans, sans-serif;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -29px;
    border-radius: 3px;
    @include sprite($icon-consult25x25);
  }
}

.head__phone {
  display: block;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
  white-space: nowrap;
  margin-bottom: 5px;
  padding-left: 3px;
}

.head__work-time {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  position: relative;
  font-size: 10px;
  line-height: 11px;
  font-family: 'Trebuchet MS', 'Tahoma', Helmet, Freesans, sans-serif;
  margin-top: 7px;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    display: block;
    @include sprite($icon-clock12x12);
  }

  span {
    display: block;
    color: #858585;
  }
}

.head__data_info {
  width: 210px;
  float: left;
  padding-left: 19px;
}

.head-info {
  display: block;
  padding-left: 51px;
  position: relative;
  margin-bottom: 6px;
  margin-top: -2px;
  cursor: default;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    width: 42px;
    height: 38px;
  }
}

.head-info_review:before {
  @include sprite($icon-baloon37x31);
}

.head-info_guarantee:before {
  @include sprite($icon-guarantee28x37);
  left: 10px;
  top: -2px;
}

.head-info__counter {
  margin-left: 2px;
  display: inline-block;
  font: 14px/20px 'Tahoma', Helmet, Freesans, sans-serif;
  line-height: 20px;
  color: $textColor;

  span {
    font-size: 13px;
    font-weight: bold;
  }
}

.head-info__comment {
  display: block;
  font: normal 10px/13px 'Tahoma', Helmet, Freesans, sans-serif;
  text-decoration: none;
  color: #7d7d7d;
  letter-spacing: 0.02em;
}

.head-info__link {
  display: inline-block;
  font: 16px/20px 'Tahoma', Helmet, Freesans, sans-serif;
  color: $textColor;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid $textColor;
  letter-spacing: 0.025em;
}

.menu-box {
  padding-right: 410px;
  position: relative;
  height: 60px;
  width: 940;

  nav {
    position: absolute;
    left: 0;
    min-width: 530px;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.menu__item {
  float: left;
//  background-color: rgba(255, 255, 255, 0.95);

  &:last-child {
    padding-right: 18px;
  }
}

.menu__link {
  padding: 23px 24px 20px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font: 12px/1 'Tahoma', Helmet, Freesans, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0);

  &:hover {
    background-color: #fff;
    border-bottom-color: #ffcc06;
  }
}

.active .menu__link {
  padding: 23px 28px 20px;
  background-color: #fff;
  border-bottom-color: #ffcc06;
  font-weight: bold;
}

.user-menu {
  padding: 12px 18px 14px 35px;
  position: absolute;
  top: 0;
  right: 0;
  width: 357px;
  background-color: #fff;
}

.user-menu__link {
  padding-left: 21px;
  margin-bottom: 6px;
  position: relative;
  font: bold 12px/1 'Tahoma', Helmet, Freesans, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: $textColor;

  span {
    border-bottom: 1px solid $textColor;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @include sprite($icon-user10x12);
  }
}

.user-menu__email {
  margin-right: 3px;
  font: 13px/1 'Tahoma', Helmet, Freesans, sans-serif;
}

.user-menu__logout {
  color: #dd0000;
  font: 10px/1 'Tahoma', Helmet, Freesans, sans-serif;
}