.icon {
  position: relative;
  display: inline-block;
}

.icon-close19x19 {
  @include sprite($icon-close19x19);
}

.icon-search16x16 {
  @include sprite($icon-search16x16);
}

.icon-shop15x12 {
  @include sprite($icon-shop15x12);
}

.icon-vk50x13 {
  @include sprite($icon-vk50x13);
}

.icon-steam16x16 {
  @include sprite($icon-steam16x16);
}

