.main {
  background-color: #fff;
}

.main__content {
  float: left;
  width: 720px;

  .more-link {
    margin-bottom: 33px;
    position: relative;
    top: -10px;

    .btn {
      padding: 13px 0 11px;
      position: relative;
      left: -20px;
      z-index: 10;
      width: 200px;
      font: normal 14px/14px 'Verdana', 'Tahoma', Helmet, Freesans, sans-serif;
      letter-spacing: 0;
      box-shadow: 0 2px 4px 0px #d9d9d9;
    }

    .arrow-box {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -19px;
        left: 50%;
        margin-left: -29px;
        width: 18px;
        height: 18px;
        background-color: #ffa605;
        border: 1px solid #b57806;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 2px 2px 4px 0px #d9d9d9;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        margin-left: -28px;
        width: 18px;
        height: 18px;
        background-color: #ffa605;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 11;
      }
    }
  }
}

.game-list {
  margin-left: -40px;
}

.game-list__item {
  margin-left: 40px;
  margin-bottom: 40px;
  float: left;
  position: relative;
  width: 200px;
  height: 280px;
}

.game-list__item-desc {
  position: absolute;
  bottom: 0;
  width: 100%;

  .status {
    padding-right: 25px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font: 11px/20px 'Tahoma', Helmet, Freesans, sans-serif;
    padding-left: 13px;
    background-color: rgba(255,255,255,0.8);

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      right: 7px;
      display: block;
      @include sprite($icon-clock12x12);
    }
  }

  .price {
    padding: 12px 13px;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }

  .name {
    position: relative;
    top: -3px;
    font: 12px/1 'Tahoma', Helmet, Freesans, sans-serif;
  }

  .sum {
    font: 26px/1 'Tahoma', Helmet, Freesans, sans-serif;
  }
}

.main-product {
  padding-top: 31px;
}