.product__head-info {
  float: left;
  width: 440px;
}
.product__title {
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: -2px;
  letter-spacing: 0.03em;

  +.product__breadcrumbs {
    margin-top: -2px;
    margin-bottom: 22px;
  }
}

.product__breadcrumbs-link {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  line-height: 14px;
  color: #a3a3a3;
  margin-right: 4px;

  &:before {
    content: '\e807';
    font-family: 'icons-elf-money';
    margin-right: 2px;
    color: #ccc;
    font-size: 14px;
    vertical-align: middle;
  }

  &:first-child:before {
    display: none;
  }
}

.product__cover {
  margin-bottom: 24px;
}

.product__desc {
  margin-bottom: 32px;

  h4 {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  p {
    font: 12px/20px 'Tahoma', Helmet, Freesans, sans-serif;
    width: 89%;
  }
}
.product__desc-toggle {
  margin-bottom: 9px;
}

.product__desc-toggle-link {
  padding-left: 17px;
  position: relative;
  cursor: pointer;

  .border {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #7f7f7f;
    letter-spacing: 0.07em;
  }

  .plus-box {
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid #808080;
    display: inline-block;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      @include sprite($icon-plus5x5);
    }
  }
}

.product__desc-toggle-cont {
  display: none;
  font: 12px/20px 'Tahoma', Helmet, Freesans, sans-serif;
  width: 89%;
}

.product__media {
  margin-top: 31px;
  margin-bottom: 20px;
}

.product__media-img {
  margin-left: -10px;

  img {
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
  }
}

.product__sidebar-info {
  margin-top: 59px;
  margin-right: 40px;
  float: right;
  width: 201px;
}

.product__card {
  position: relative;
  width: 201px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.product__card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.64) 0%, rgba(0,0,0,0.64) 23%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.64)), color-stop(23%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.64) 23%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.64) 23%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.64) 23%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.64) 23%,rgba(0,0,0,1) 100%);
}

.product__card-info {
  margin-bottom: 32px;
  position: relative;
  padding: 19px;
  z-index: 1;

  h5 {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1;
    color: #ffc92f;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  .card-info__item {
    margin-bottom: 2px;
    font-size: 10px;
    color: #adadad;
    text-transform: uppercase;

    .label {
      font-weight: bold;
      color: #fff;
    }
  }

  .card-info__item-steam {
    padding-right: 24px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      @include sprite($icon-steam16x16);
    }
  }

  .btn {
    padding: 12px 12px;
    width: 137px;
    font: normal 14px/1 'Verdana', 'Tahoma', Helmet, Freesans, sans-serif;
    letter-spacing: 0.01em;
  }
}

.card-info__price {
  margin-bottom: 24px;
  margin-top: 11px;
  position: relative;
  left: -1px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;

  &:after {
    content: '\e802';
    font-weight: normal;
    font-family: 'icons-elf-money';
    font-size: 37px;
    margin-left: 9px;
  }
}

.advantages-list {
  display: block;
  margin-bottom: 47px;
}

.advantages-list__item {
  padding-left: 22px;
  padding-right: 20px;
  margin-bottom: 18px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.advantages-list__title {
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
}

.advantages-list__text {
  line-height: 13px;
  font-size: 10px;
  margin-bottom: 10px;
}

.advantages-list__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -6px;
  @include sprite($icon-heart16x16);
}

.advantages-list__item_safely:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -6px;
  @include sprite($icon-check16x16);
}

.advantages-list__item_guarantee:before {
  content: '';
  position: absolute;
  display: block;
  top: 2px;
  left: -6px;
  @include sprite($icon-purse16x13);
}

.similar__title {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.similar {

  .game-list__item {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .more-link {
    margin-top: 10px;
    float: left;

    .btn {
      left: 0;
    }
  }

  .arrow-box {
    &:before {
      margin-left: -8px!important;
    }

    &:after {
      margin-left: -8px!important;
    }
  }
}

.game-list-product {
  padding-left: 38px;
  margin-left: -20px;
  margin-top: 57px;

  .game-list__item {
    margin-bottom: 34px;
    margin-left: 20px;
  }
}