.reviews {
  padding-top: 34px;
  padding-left: 20px;
  padding-bottom: 28px;
  position: relative;
  background-color: #f4f4f4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: url('../img/white-wave.png') repeat-x;
  }
}

.reviews__item {
  padding-right: 25px;
  margin-right: 39px;
  padding-top: 4px;
  float: left;
  width: 255px;
  height: 96px;
  border-right: 1px dotted #c3c3c3;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none
  }
}

.reviews__item-data {
  margin-bottom: 9px;
  padding-right: 17px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font: bold 10px/1 "Tahoma", Helmet, Freesans, sans-serif;

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    @include sprite($icon-baloon9x10);
  }
}

.reviews__item-text {
  font: normal 12px/24px "Tahoma", Helmet, Freesans, sans-serif;
}