.search {
  padding: 21px 40px 19px 20px;

  .icon-search16x16 {
    position: absolute;
    top: 12px;
    left: 15px;
  }

  input {
    margin-left: 43px;
    float: left;
    width: 670px;
    border: none!important;
    box-shadow: none;
    outline: none;
    font: 18px/37px "Tahoma", Helmet, Freesans, sans-serif;
    letter-spacing: -0.01em;
  }

  ::-webkit-input-placeholder {color: rgba(0,0,0,0.2);}
  ::-moz-placeholder          {color: rgba(0,0,0,0.2);}
  :-moz-placeholder           {color: rgba(0,0,0,0.2);}
  :-ms-input-placeholder      {color: rgba(0,0,0,0.2);}

  .btn {
    float: right;
    margin-top: 2px;
    margin-right: 3px;
    padding: 10px 54px 8px;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.7);
  }
}

.search__box {
  position: relative;
  border: 1px solid #e5e5e5;
}