.sidebar {
  float: left;
  width: 220px;

  .vk-box {
    margin-left: 1px;
  }
}

.sidebar__nav {
  margin-bottom: 25px;

  li {
    margin-bottom: 4px;
  }

  a {
    padding: 10px 20px 10px;
    position: relative;
    display: block;
    width: 181px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #fff;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.035em;
  }

  .active a,
  a:hover {
    color: #ffcc06;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      background-color: #ffcc06;
    }
  }

  .action a {
    background: url('../img/action-bg.jpg') no-repeat center;
  }

  &.gray {
    margin-bottom: 30px;

    li {
      margin-bottom: 5px;
    }

    a,
    .action a{
      padding: 12px 20px 12px;
      background-color: #f4f4f4;
      color: rgba(0,0,0,0.5);
      background-image: none;
    }
  }
}

.sidebar__filter {
  padding-right: 59px;
  margin-bottom: 45px;
}

.sidebar__filter-item {
  margin-bottom: 41px;

  li {
    margin-bottom: 7px;
  }

  &.category li {
    margin-bottom: 8px;
  }

  &.category li.title,
  .title {
    margin-bottom: 16px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $textColor;
    font-size: 14px;
    letter-spacing: 0.04em;

    &.sidebar__filter-item-category {
      padding-right: 25px;
      position: relative;
      display: inline-block;
      font-size: 11px;

      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 3px;
        display: inline-block;
        opacity: 0.5;
      }

      &.steam:after {
        @include sprite($icon-steam16x16);
      }

      &.origin:after {
        @include sprite($icon-origin16x16);
      }

      &.playstation:after {
        @include sprite($icon-playstation16x16);
      }

      &.battle:after {
        @include sprite($icon-battle16x16);
      }

      &.xbox:after {
        @include sprite($icon-xbox16x16);
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }
}