/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.main-slider {
  width: 100%;
  height: 209px;
  background: url('../img/slider-bg.jpg') no-repeat center;

  .slick-dots {
    margin: 0;
    width: 95px;
    position: absolute;
    bottom: -1px;
    left: 0;
    text-align: right;

    li {
      margin-left: 10px;
    }
  }
}

.main-slider__item {
  position: relative;
  width: 100%;
  height: 209px;

  >img {
    position: absolute;
    top: 77px;
    left: 32px;
  }
}

.main-slider__item-info {
  padding: 12px 20px 18px 28px;
  margin-top: 39px;
  float: right;
  width: 459px;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 100%);
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 100%);

  .status {
    margin-bottom: -2px;
    color: #ffd807;
    text-transform: uppercase;
    font: bold 17px/1 'Tahoma', Helmet, Freesans, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
  }

  .name {
    text-transform: uppercase;
    font: bold 28px/1 'Tahoma', Helmet, Freesans, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    color: #fff;
    letter-spacing: 0.003em;
  }

  .data {
    margin-bottom: 17px;
    font: normal 10px/1 'Tahoma', Helmet, Freesans, sans-serif;
    color: #fff;
    opacity: .8;
    letter-spacing: 0.025em;
  }

  .price {
    position: relative;
    left: -1px;
  }

  .price__sum {
    float: left;
    font: bold 30px/1 'Tahoma', Helmet, Freesans, sans-serif;
    color: #fff;
  }

  .price__sum-discount {
    display: block;
    font: normal 10px/1 'Tahoma', Helmet, Freesans, sans-serif;
    color: #fff;
    opacity: .8;
    text-decoration: line-through;
  }

  .btn {
    padding: 6px 27px 5px 23px;
    margin-top: 4px;
    margin-left: 11px;
    float: left;

    .icon-shop15x12 {
      margin-right: 8px;
      top: 0px;
    }
  }
}

.main-slider__desc {
  padding-left: 104px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 23px;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.slick-dots {

  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
  }

  button {
    padding: 0;
    border: 1px solid rgba(0,0,0,0);
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 1px;
    text-indent: -9999px;
  }

  .slick-active button {
    background-color: #fff;
    border-color: #fff;
  }
}

