/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-baloon37x31-name: 'icon-baloon37x31';
$icon-baloon37x31-x: 0px;
$icon-baloon37x31-y: 0px;
$icon-baloon37x31-offset-x: 0px;
$icon-baloon37x31-offset-y: 0px;
$icon-baloon37x31-width: 37px;
$icon-baloon37x31-height: 31px;
$icon-baloon37x31-total-width: 97px;
$icon-baloon37x31-total-height: 84px;
$icon-baloon37x31-image: 'sprite.png';
$icon-baloon37x31: (0px, 0px, 0px, 0px, 37px, 31px, 97px, 84px, 'sprite.png', 'icon-baloon37x31', );
$icon-baloon9x10-name: 'icon-baloon9x10';
$icon-baloon9x10-x: 87px;
$icon-baloon9x10-y: 12px;
$icon-baloon9x10-offset-x: -87px;
$icon-baloon9x10-offset-y: -12px;
$icon-baloon9x10-width: 10px;
$icon-baloon9x10-height: 9px;
$icon-baloon9x10-total-width: 97px;
$icon-baloon9x10-total-height: 84px;
$icon-baloon9x10-image: 'sprite.png';
$icon-baloon9x10: (87px, 12px, -87px, -12px, 10px, 9px, 97px, 84px, 'sprite.png', 'icon-baloon9x10', );
$icon-battle16x16-name: 'icon-battle16x16';
$icon-battle16x16-x: 37px;
$icon-battle16x16-y: 38px;
$icon-battle16x16-offset-x: -37px;
$icon-battle16x16-offset-y: -38px;
$icon-battle16x16-width: 16px;
$icon-battle16x16-height: 16px;
$icon-battle16x16-total-width: 97px;
$icon-battle16x16-total-height: 84px;
$icon-battle16x16-image: 'sprite.png';
$icon-battle16x16: (37px, 38px, -37px, -38px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-battle16x16', );
$icon-check16x16-name: 'icon-check16x16';
$icon-check16x16-x: 53px;
$icon-check16x16-y: 38px;
$icon-check16x16-offset-x: -53px;
$icon-check16x16-offset-y: -38px;
$icon-check16x16-width: 16px;
$icon-check16x16-height: 16px;
$icon-check16x16-total-width: 97px;
$icon-check16x16-total-height: 84px;
$icon-check16x16-image: 'sprite.png';
$icon-check16x16: (53px, 38px, -53px, -38px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-check16x16', );
$icon-clock12x12-name: 'icon-clock12x12';
$icon-clock12x12-x: 68px;
$icon-clock12x12-y: 54px;
$icon-clock12x12-offset-x: -68px;
$icon-clock12x12-offset-y: -54px;
$icon-clock12x12-width: 12px;
$icon-clock12x12-height: 12px;
$icon-clock12x12-total-width: 97px;
$icon-clock12x12-total-height: 84px;
$icon-clock12x12-image: 'sprite.png';
$icon-clock12x12: (68px, 54px, -68px, -54px, 12px, 12px, 97px, 84px, 'sprite.png', 'icon-clock12x12', );
$icon-close19x19-name: 'icon-close19x19';
$icon-close19x19-x: 62px;
$icon-close19x19-y: 13px;
$icon-close19x19-offset-x: -62px;
$icon-close19x19-offset-y: -13px;
$icon-close19x19-width: 19px;
$icon-close19x19-height: 19px;
$icon-close19x19-total-width: 97px;
$icon-close19x19-total-height: 84px;
$icon-close19x19-image: 'sprite.png';
$icon-close19x19: (62px, 13px, -62px, -13px, 19px, 19px, 97px, 84px, 'sprite.png', 'icon-close19x19', );
$icon-consult25x25-name: 'icon-consult25x25';
$icon-consult25x25-x: 37px;
$icon-consult25x25-y: 13px;
$icon-consult25x25-offset-x: -37px;
$icon-consult25x25-offset-y: -13px;
$icon-consult25x25-width: 25px;
$icon-consult25x25-height: 25px;
$icon-consult25x25-total-width: 97px;
$icon-consult25x25-total-height: 84px;
$icon-consult25x25-image: 'sprite.png';
$icon-consult25x25: (37px, 13px, -37px, -13px, 25px, 25px, 97px, 84px, 'sprite.png', 'icon-consult25x25', );
$icon-guarantee28x37-name: 'icon-guarantee28x37';
$icon-guarantee28x37-x: 0px;
$icon-guarantee28x37-y: 31px;
$icon-guarantee28x37-offset-x: 0px;
$icon-guarantee28x37-offset-y: -31px;
$icon-guarantee28x37-width: 28px;
$icon-guarantee28x37-height: 37px;
$icon-guarantee28x37-total-width: 97px;
$icon-guarantee28x37-total-height: 84px;
$icon-guarantee28x37-image: 'sprite.png';
$icon-guarantee28x37: (0px, 31px, 0px, -31px, 28px, 37px, 97px, 84px, 'sprite.png', 'icon-guarantee28x37', );
$icon-heart16x16-name: 'icon-heart16x16';
$icon-heart16x16-x: 0px;
$icon-heart16x16-y: 68px;
$icon-heart16x16-offset-x: 0px;
$icon-heart16x16-offset-y: -68px;
$icon-heart16x16-width: 16px;
$icon-heart16x16-height: 16px;
$icon-heart16x16-total-width: 97px;
$icon-heart16x16-total-height: 84px;
$icon-heart16x16-image: 'sprite.png';
$icon-heart16x16: (0px, 68px, 0px, -68px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-heart16x16', );
$icon-origin16x16-name: 'icon-origin16x16';
$icon-origin16x16-x: 64px;
$icon-origin16x16-y: 68px;
$icon-origin16x16-offset-x: -64px;
$icon-origin16x16-offset-y: -68px;
$icon-origin16x16-width: 16px;
$icon-origin16x16-height: 16px;
$icon-origin16x16-total-width: 97px;
$icon-origin16x16-total-height: 84px;
$icon-origin16x16-image: 'sprite.png';
$icon-origin16x16: (64px, 68px, -64px, -68px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-origin16x16', );
$icon-playstation16x16-name: 'icon-playstation16x16';
$icon-playstation16x16-x: 32px;
$icon-playstation16x16-y: 68px;
$icon-playstation16x16-offset-x: -32px;
$icon-playstation16x16-offset-y: -68px;
$icon-playstation16x16-width: 16px;
$icon-playstation16x16-height: 16px;
$icon-playstation16x16-total-width: 97px;
$icon-playstation16x16-total-height: 84px;
$icon-playstation16x16-image: 'sprite.png';
$icon-playstation16x16: (32px, 68px, -32px, -68px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-playstation16x16', );
$icon-plus5x5-name: 'icon-plus5x5';
$icon-plus5x5-x: 87px;
$icon-plus5x5-y: 21px;
$icon-plus5x5-offset-x: -87px;
$icon-plus5x5-offset-y: -21px;
$icon-plus5x5-width: 5px;
$icon-plus5x5-height: 5px;
$icon-plus5x5-total-width: 97px;
$icon-plus5x5-total-height: 84px;
$icon-plus5x5-image: 'sprite.png';
$icon-plus5x5: (87px, 21px, -87px, -21px, 5px, 5px, 97px, 84px, 'sprite.png', 'icon-plus5x5', );
$icon-purse16x13-name: 'icon-purse16x13';
$icon-purse16x13-x: 37px;
$icon-purse16x13-y: 54px;
$icon-purse16x13-offset-x: -37px;
$icon-purse16x13-offset-y: -54px;
$icon-purse16x13-width: 16px;
$icon-purse16x13-height: 13px;
$icon-purse16x13-total-width: 97px;
$icon-purse16x13-total-height: 84px;
$icon-purse16x13-image: 'sprite.png';
$icon-purse16x13: (37px, 54px, -37px, -54px, 16px, 13px, 97px, 84px, 'sprite.png', 'icon-purse16x13', );
$icon-search16x16-name: 'icon-search16x16';
$icon-search16x16-x: 48px;
$icon-search16x16-y: 68px;
$icon-search16x16-offset-x: -48px;
$icon-search16x16-offset-y: -68px;
$icon-search16x16-width: 16px;
$icon-search16x16-height: 16px;
$icon-search16x16-total-width: 97px;
$icon-search16x16-total-height: 84px;
$icon-search16x16-image: 'sprite.png';
$icon-search16x16: (48px, 68px, -48px, -68px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-search16x16', );
$icon-shop15x12-name: 'icon-shop15x12';
$icon-shop15x12-x: 53px;
$icon-shop15x12-y: 54px;
$icon-shop15x12-offset-x: -53px;
$icon-shop15x12-offset-y: -54px;
$icon-shop15x12-width: 15px;
$icon-shop15x12-height: 12px;
$icon-shop15x12-total-width: 97px;
$icon-shop15x12-total-height: 84px;
$icon-shop15x12-image: 'sprite.png';
$icon-shop15x12: (53px, 54px, -53px, -54px, 15px, 12px, 97px, 84px, 'sprite.png', 'icon-shop15x12', );
$icon-steam16x16-name: 'icon-steam16x16';
$icon-steam16x16-x: 16px;
$icon-steam16x16-y: 68px;
$icon-steam16x16-offset-x: -16px;
$icon-steam16x16-offset-y: -68px;
$icon-steam16x16-width: 16px;
$icon-steam16x16-height: 16px;
$icon-steam16x16-total-width: 97px;
$icon-steam16x16-total-height: 84px;
$icon-steam16x16-image: 'sprite.png';
$icon-steam16x16: (16px, 68px, -16px, -68px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-steam16x16', );
$icon-user10x12-name: 'icon-user10x12';
$icon-user10x12-x: 87px;
$icon-user10x12-y: 0px;
$icon-user10x12-offset-x: -87px;
$icon-user10x12-offset-y: 0px;
$icon-user10x12-width: 10px;
$icon-user10x12-height: 12px;
$icon-user10x12-total-width: 97px;
$icon-user10x12-total-height: 84px;
$icon-user10x12-image: 'sprite.png';
$icon-user10x12: (87px, 0px, -87px, 0px, 10px, 12px, 97px, 84px, 'sprite.png', 'icon-user10x12', );
$icon-vk50x13-name: 'icon-vk50x13';
$icon-vk50x13-x: 37px;
$icon-vk50x13-y: 0px;
$icon-vk50x13-offset-x: -37px;
$icon-vk50x13-offset-y: 0px;
$icon-vk50x13-width: 50px;
$icon-vk50x13-height: 13px;
$icon-vk50x13-total-width: 97px;
$icon-vk50x13-total-height: 84px;
$icon-vk50x13-image: 'sprite.png';
$icon-vk50x13: (37px, 0px, -37px, 0px, 50px, 13px, 97px, 84px, 'sprite.png', 'icon-vk50x13', );
$icon-xbox16x16-name: 'icon-xbox16x16';
$icon-xbox16x16-x: 69px;
$icon-xbox16x16-y: 38px;
$icon-xbox16x16-offset-x: -69px;
$icon-xbox16x16-offset-y: -38px;
$icon-xbox16x16-width: 16px;
$icon-xbox16x16-height: 16px;
$icon-xbox16x16-total-width: 97px;
$icon-xbox16x16-total-height: 84px;
$icon-xbox16x16-image: 'sprite.png';
$icon-xbox16x16: (69px, 38px, -69px, -38px, 16px, 16px, 97px, 84px, 'sprite.png', 'icon-xbox16x16', );
$spritesheet-width: 97px;
$spritesheet-height: 84px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-baloon37x31, $icon-baloon9x10, $icon-battle16x16, $icon-check16x16, $icon-clock12x12, $icon-close19x19, $icon-consult25x25, $icon-guarantee28x37, $icon-heart16x16, $icon-origin16x16, $icon-playstation16x16, $icon-plus5x5, $icon-purse16x13, $icon-search16x16, $icon-shop15x12, $icon-steam16x16, $icon-user10x12, $icon-vk50x13, $icon-xbox16x16, );
$spritesheet: (97px, 84px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
